<!-- this is the main layout that will contain repeated elements like our <head> and <footer> -->
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
					<li><a href="/research">Research</a></li>
					<li>
						<div class="Miscellanious">
  							<button onclick="myFunction()" class="dropbtn">Dropdown</button>
  							<div id="myDropdown" class="dropdown-content">
    							<a href="#home">Home</a>
								<a href="#contact">Contact</a>
								<a href="#about">About</a>
							</div>
						</div>
					</li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:b.m.kerin96@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/kerinb">GitHub</a></li>
					<li><a href="https://www.linkedin.com/in/bkerin/">LinkedIn</a></li>
					<li><a href="https://twitter.com/BKerin_">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
