<!-- this is the main layout that will contain repeated elements like our <head> and <footer> -->
<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<title>{{ page.title }}</title>
			<link rel="icon" href="iamges/cat_favicon.png">
			<link rel="stylesheet" href="/css/bootstrap-social.css" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="navbar">
				<a href="/">About</a>
				<a href="/cv">CV</a>
				<a href="/blog">Blog</a>
				<a href="/research">Research</a>
				
				<div class="dropdown">
					<button class="dropbtn">Miscellaneous 
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="#">Study Material</a>
						<a href="#">Research Supplements</a>
						<a href="#">Other</a>
					</div>
				</div> 
			</div>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:b.m.kerin96@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/kerinb">GitHub</a></li>
					<li><a href="https://www.linkedin.com/in/bkerin/">LinkedIn</a></li>
					<li><a href="https://twitter.com/BKerin_">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
